/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 9, 2016, 9:27:06 PM
    Author     : Lance
*/
h1 {
color:#2B64B5;
}

h2{
color:#2B64B5;
}

    .logo
    {
        align-content:center;
        margin:0 0px 0px 0px;
    }
    .logoleftside
    {
        color:#2B64B5;
        text-align:right;
        float:left;
        padding-left:140px;
        padding-top:40px;
        word-spacing:10px;
    }
    .logorightside
    {
        color:#2B64B5;
        text-align:left;
        float:right;
        padding-right:280px;
        padding-top:40px;
        word-spacing:10px;
    }
    .compic
    {
        border: 3px solid black;
        width:600px;
        height:300px;
    }
    .caption
    {
        text-align:left;
    }
    h4.width{
	width:75%;
	text-align:center;
	margin-left:auto;
	margin-right:auto;
	}
    
    .pic 
    {
        border: 10px solid #fff;  
        float: left;
         height: 200px;
         width: 200px;
         margin: 20px;
  
        -webkit-box-shadow: 5px 5px 5px #111;
          box-shadow: 5px 5px 5px #111;  

          -webkit-transition: all 0.5s ease;
          -moz-transition: all 0.5s ease;
          -o-transition: all 0.5s ease;
          -ms-transition: all 0.5s ease;
           transition: all 0.5s ease;
    }

    .pic:hover 
    {
        -webkit-transform: rotate(-10deg);
         -moz-transform: rotate(-10deg);
          -o-transform: rotate(-10deg);
          -ms-transform: rotate(-10deg);
          transform: rotate(-10deg);
    }

    .footnote{
        color:#FFFFFF;
    }
    #container
    {
        position: fixed; 
        overflow-y: scroll;
    top: 0; right: 0; bottom: 0; left: 0; 
    }

    #side
    {
        width:100px;
        height:1000px;
        float:left;
        padding:10px;
    }
    #header
    {
      background-color:#FFFFFF;
      border:15px solid rgb(250, 0, 0);
      border:15px solid rgba(250, 250, 250, .5);
      -webkit-background-clip: padding-box;
      background-clip:padding-box;
      margin-left:auto;
		margin-right:auto;
      margin-top:10px;
      margin-bottom:10px;
      width:1000px;
        height:195px;
    }
    #section
    {
        background-color:#FFFFFF;
        border:15px solid rgb(250, 0, 0);
        border:15px solid rgba(250, 250, 250, .5);
        text-align: center;
        -webkit-background-clip: padding-box;
        background-clip:padding-box;
        margin-left:auto;
		margin-right:auto;
        width:1000px;
        height:1100px;
        float:center;
        padding:.5px;
        
    }
    #footer
    {
        background-color:#2B64B5;
        border:10px solid rgb(250, 0, 0);
        border:10px solid rgba(250, 250, 250, .5);
        -webkit-background-clip: padding-box;
        background-clip:padding-box;
        margin-top:5px;
        margin-left:auto;
		margin-right:auto;
        width:991px;
        height:30px;
        float:center;
        padding:10px 10px;
    }