/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 9, 2016, 9:24:09 PM
    Author     : Lenovo
*/
table{
	 width:1000px;
}

nav {
    padding-top: 10px;
	padding-bottom: 10px;
    background-color: #2B64B5;
    padding-left: 10px;
    text-decoration: none;
	word-spacing: 15px;
}
nav a {
    color: white;
    font-family: sans-serif;
    font-size: 18px;
    letter-spacing: 1px;
	word-spacing: 1px;
    text-decoration: none;
}

nav a:hover {
    text-decoration: none;
    font-size: 20px;
    height: 20px;
    background: -webkit-linear-gradient(#2B14A1, #2B64B5); 
    background: -o-linear-gradient(#2B14A1, #2B64B5); 
    background: -moz-linear-gradient(#2B14A1, #2B64B5); 
    background: linear-gradient(#2B14A1, #2B64B5);
    padding-bottom: 8px;
    padding-top: 9px;
    color: white;
}
td p {
    font-size: 20px;
    white-space: nowrap;
}


