
#register 
{
    font-weight: bold;
    color: #2B64B5;
    width:800px;
    background-color: lightblue;
    border-radius:20px;
    font-family:sans-serif ;
    border:5px solid #ccc;
    padding:10px 20px 10px 20px;
    margin: auto;
    font-size: 18px
}

label
{
    width: 120px;
    clear: both;
    float:left;
    margin-left:20px;
    margin-top: 15px;
}


input[type=text], input[type=email], input[type=option]
{
    width:50%;
    padding:10px;
    border:1px solid #ccc;
    font-size:12px;
    font-family: 'Oswald', sans-serif;
    display: inline-block;
}

input[type=submit] 
{
    width:50%;
    color: white;
    background-color: #2B64B5;
    border:2px solid ;
    padding:10px;
    margin: 1px 100px 1px 110px;
    font-size:20px;
    cursor:pointer;
    border-radius:5px;
    font-family: 'Lobster', cursive; 
}

h2{
    text-align: center;
}
